<div class="bg-light p-5 text-center">
  <h4>Created by kuy</h4>
  <h5>☎ 010-1245-2548</h5>
  <button class="btn btn-outline-danger">고객센터</button>
  <button class="btn btn-outline-success">오시는길</button>
</div>
</div>
</body>

</html>