{{> /layout/header}}

<div class="container p-4">
  {{#pageOwner}}
  <div class="d-flex container mb-4">
    <a class="ms-auto btn btn-secondary m-1" href="/">돌아가기</a>
    <a class="btn btn-warning m-1" href="/board/{{board.id}}/updateForm">수정</a>
    <form action="/board/{{board.id}}/delete" method="post">
      <button type="submit" class="btn btn-danger m-1">삭제</button>
    </form>

  </div>
  {{/pageOwner}}

  <div class="d-flex justify-content-between p-1">
    <div class="d-flex justify-content-start">
      <div class="">글번호 : 1</div>
    </div>
    {{#board}}
    <div class="d-flex justify-content-end">
      <div class="">작성자 : </div>
    </div>
  </div>
  {{/board}}
  <!--요청을 하면 localhost:8080/board/save POST로 요청됨.
  title=사용자입력값&content=사용자값 x-www-form-urlencoded -->

  {{#board}}
  <div class="card p-3">
    <div>
      <h2><b>{{title}}</b></h2>
      <hr />
      <div class="container m-4 p-2">{{content}}</div>
    </div>
  </div>
  {{/board}}


  <!-- 댓글 -->
  <div class="card mt-3">
    <div class="card-header"><b>댓글</b></div>
    <div class="card-body">
      <form action="/reply/save" method="post">
        <div class="mb-3">
          <textarea class="form-control" rows="1" name="content"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-outline-primary">댓글등록</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 댓글 리스트 -->
  <div class="card mt-3">
    <div class="card-header"><b>댓글리스트</b></div>
    <div class="list-group">
      <!-- 댓글아이템 -->
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <div class="px-1 me-1 bg-primary text-white rounded">cos</div>
          <div>댓글 내용입니다</div>
        </div>
        <form action="/reply/1/delete" method="post">
          <button class="btn">🗑</button>
        </form>
      </div>
      <!-- 댓글아이템 -->
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <div class="px-1 me-1 bg-primary text-white rounded">ssar</div>
          <div>댓글 내용입니다</div>
        </div>
        <form action="/reply/1/delete" method="post">
          <button class="btn">🗑</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

<!--요청을 하면 localhost:8080/join POST로 요청됨.
  username=사용자입력값&password=사용자값 x-www-form-urlencoded -->

{{> /layout/footer}}